    {% load endless %}
    {% paginate 20 albums %}
    {% for album in albums %}
        <div class="box">
          <div class="boxInner">
            <a href="{% url 'album'  album.slug %}">
                        <img class="img-responsive" src={{album.img}} alt={{"https://i.scdn.co/image/9fd1d1fc621159e76379f253b4795a869632a332"}} style="width: 100%; height: 100% padding: 0; margin: 0; display:block;">
                        <a/>
            <div class="titleBox"><a href="{% url 'album'  album.slug %}">{{ album.name }}</a></div>
          </div>
        </div>
    {% endfor %}
    {{ show_more }}
